@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500&display=swap");
@import "reset.css";
@import "status-bar.css";

body {
  font-family: "Noto Sans JP", sans-serif, "Segoe UI", Tahoma, Geneva, Verdana;
}

.welcome-header {
  margin: 50px 30px;
  text-align: center;
}

.welcome-header__text {
  color: #949494;
}

#login-form {
  display: flex;
  flex-direction: column;
}
