body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #76c4c6;
}

.father {
  width: 200px;
  margin-bottom: 200px;
  display: flex;
  justify-content: space-around;
  animation: spin_it 1s ease-in-out infinite;
}

@keyframes spin_it {
  50% {
    transform: rotate(0.5turn);
  }
  100% {
    transform: rotate(0.5turn);
  }
}

.circle {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
}

.mother {
  width: 150px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.keyboard {
  width: 20px;
  height: 80px;
  background-color: white;
  animation: mover 1s ease-in-out infinite;
}

.keyboard:nth-child(2) {
  animation-delay: 0.1s;
}

.keyboard:nth-child(3) {
  animation-delay: 0.2s;
}

.keyboard:nth-child(4) {
  animation-delay: 0.3s;
}

.keyboard:last-child {
  animation-delay: 0.4s;
}

@keyframes mover {
  0% {
    transform: none;
  }
  25% {
    transform: scaleY(2);
  }
  50%,
  100% {
    transform: none;
  }
}
